.main{
    flex: 1;
    min-height: 100vh;
    padding-bottom: 15vh;
    position: relative;
}
.main .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    padding: 20px;
    color: gray;
}
.main .nav img{
    width: 40px;
    border-radius: 50%;
}
.main-container{
    max-width: 900px;
    margin: auto;
}
.main .greet{
    margin: 50px 0px;
    font-size: 4rem;
    color:rgb(200, 200, 200);
    padding: 20px;
}
.main .greet span{
    background: -webkit-linear-gradient(16deg, aqua, crimson);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.main .cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px,1fr));
    gap: 15px;
    padding: 20px;
}
.main .card{
    height: 150px;
    padding: 15px;
    background-color: whitesmoke;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    transition: all 0.3s;
}
.main .card img{
    width: 35px;
    padding: 5px;
    position: absolute;
    background-color: white;
    border-radius: 20px;
    bottom: 10px;
    right: 10px;
}
.main .card p{
    color: gray;
    font-size: 1.2rem;
}
.main .card:hover{
    background: linear-gradient(rgb(252, 252, 252), rgb(220, 220, 220));
}
.main-bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 900px;
    padding: 0px 20px;
    margin:  auto;
}
.search-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: rgb(220, 220, 220);
    padding: 10px 20px;
    border-radius: 50px;
}
.search-box img{
    width: 24px;
    cursor: pointer;
}
.search-box input{
    flex: 1;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 18px;
}
.search-box div{
    display: flex;
    align-items: center;
    gap: 15px;
}
.main .bottom-info{
    font-size: 12px;
    margin: 10px auto;
    text-align: center;
    font-weight: 300;
}
.result{
    padding: 0px 5%;
    max-height: 70vh;
    overflow-y: scroll;
    word-wrap: break-word;
}
.result::-webkit-scrollbar{
    display: none;
}
.result-title{
    margin: 40px 0;
    display: flex;
    align-items: center;
    gap: 20px;
}
.result img{
    width: 40px;
    border-radius: 50%;
}
.result-data{
    display: flex;
    align-items: start;
    gap: 20px;
    max-width: 100%; 
    overflow-wrap: break-word; 
    word-break: break-word; 
}
.loader{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.loader hr{
    border-radius: 4px;
    border: none;
    background-color: rgb(220, 220, 220);
    background: linear-gradient(to right, rgba(0, 255, 255, 0.347), rgba(220, 20, 60, 0.265));
    background-size: 800px 50px;
    height: 20px;
    animation: gradientChange 2s infinite linear;
}
@keyframes gradientChange { 
    0% { 
        background: linear-gradient(to right, rgba(200,200,200, .3), rgba(225,225,225, .7));
        background-position: -800px 0px;
    } 
    10% { background: linear-gradient(to right, rgba(200, 200, 200, 0.3), rgba(225,225,225, 0.7)); } 
    20% { background: linear-gradient(to right, rgba(200, 200, 200, 0.4), rgba(225,225,225, 0.6)); } 
    30% { background: linear-gradient(to right, rgba(200, 200, 200, 0.5), rgba(225,225,225, 0.5)); } 
    40% { background: linear-gradient(to right, rgba(200, 200, 200, 0.6), rgba(225,225,225, 0.4)); } 
    50% { background: linear-gradient(to right, rgba(200, 200, 200, 0.7), rgba(225,225,225, 0.3)); } 
    60% { background: linear-gradient(to right, rgba(200, 200, 200, 0.7), rgba(225,225,225, 0.3)); } 
    70% { background: linear-gradient(to right, rgba(200, 200, 200, 0.6), rgba(225,225,225, 0.4)); } 
    80% { background: linear-gradient(to right, rgba(200, 200, 200, 0.5), rgba(225,225,225, 0.5)); } 
    90% { background: linear-gradient(to right, rgba(200, 200, 200, 0.4), rgba(225,225,225, 0.6)); } 
    100% { 
        background: linear-gradient(to right, rgba(200, 200, 200, 0.3), rgba(225,225,225, .7)); 
        background-position: 800px 0px;

    } 

}
.result-data p, .result-title p{
    font-size: 18px;
    font-weight: 300;
    line-height: 1.8;
    text-align: justify;
}
.result-title p{
    font-weight: bold;
}
@media (max-width:540px) {
    .main-bottom input{
        flex: none;
        width: 150px;
    }
    .main-bottom img{
        width: 20px;
    }
    .search-box{
        padding: 5px 10px;
    }
    .search-box div{
        gap: 5px;
    }
    
}